Repository seasons-4/resas-chart: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,json}": ["prettier --write", "eslint --fix"],
  "**/*.{css,scss}": ["stylelint --fix"]
}

feat: リセットCSSの導入
  package-lock.json
  package.json
  src/app/layout.tsx
Due: prettier --write, eslint --fix

feat: globalスタイルの決定と、layout.tsxの基盤実装完了
  .vscode/settings.json
  src/app/globals.scss
  src/app/layout.tsx
  src/styles/_variables.scss
  typed-scss-modules.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: app/page.tsxの初期ソース削除
  package-lock.json
  package.json
  src/app/page.module.scss
  src/app/page.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 削除漏れファイルとvscode設定漏れの対応
  .vscode/settings.json
  src/styles/.gitkeep
  src/styles/_variables.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: 共通コンポーネントとしてLabeledCheckbox.tsxを作成
  src/components/LabeledCheckbox/index.module.scss
  src/components/LabeledCheckbox/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: 都道府県選択用にSelectablePrefecturesコンポーネント作成
  src/features/prefectureChart/components/SelectablePrefectures.module.scss
  src/features/prefectureChart/components/SelectablePrefectures.tsx
  src/features/prefectureChart/hooks/usePrefectureQuery.ts
  src/features/prefectureChart/types/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: 都道府県一覧取得API連携実装
  .env.sample
  .gitignore
  package-lock.json
  package.json
  src/features/prefectureChart/api/getPrefectures.ts
  src/features/prefectureChart/components/SelectablePrefecturesContainer.tsx
  src/features/prefectureChart/index.ts
  src/types/env.d.ts
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: storybook導入
  .eslintrc.js
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/components/LabeledCheckbox/index.stories.tsx
  src/features/prefectureChart/components/SelectablePrefectures.stories.ts
Due: prettier --write, eslint --fix

feat: jest導入
  jest.config.ts
  package-lock.json
  package.json
  src/features/prefectureChart/hooks/usePrefectureQuery.test.ts
  src/features/prefectureChart/hooks/usePrefectureQuery.ts
Due: prettier --write, eslint --fix

test: インタラクションテストをSelectablePrefecturesに追加
  package-lock.json
  package.json
  src/features/prefectureChart/components/SelectablePrefectures.stories.ts
Due: prettier --write, eslint --fix

test: cIにテストを組み込み
  .github/workflows/pr_jobs.yaml
  .gitignore
Due: none

feat: swr, highchartsの導入
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/lib/swr.tsx
Due: prettier --write, eslint --fix

feat: 人口構成取得APIリクエスト関数作成
  .env.sample
  src/features/prefectureChart/api/getCompositionPerYear.ts
  src/features/prefectureChart/api/getPrefectures.ts
  src/features/prefectureChart/api/index.ts
  src/features/prefectureChart/components/SelectablePrefecturesContainer.tsx
  src/features/prefectureChart/constants/index.ts
  src/features/prefectureChart/types/index.ts
  src/types/env.d.ts
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: リクエストおよびキャッシュ管理のためのuseCompositionPerYear作成
  .eslintrc.js
  src/features/prefectureChart/components/SelectablePrefectures.tsx
  src/features/prefectureChart/hooks/index.ts
  src/features/prefectureChart/hooks/useCompositionPerYear.ts
Due: prettier --write, eslint --fix

feat: 都道府県ごとの人口構成グラフ描画コンポーネント作成
  src/features/prefectureChart/api/getCompositionPerYear.ts
  src/features/prefectureChart/components/CompositionChart.stories.ts
  src/features/prefectureChart/components/CompositionChart.tsx
  src/features/prefectureChart/components/CompositionChartContainer.tsx
  src/features/prefectureChart/filters/index.ts
  src/features/prefectureChart/hooks/useCompositionPerYear.ts
  src/features/prefectureChart/index.ts
  src/features/prefectureChart/types/index.ts
Due: prettier --write, eslint --fix

feat: 人口構成の種類選択フォームコンポーネント作成
  src/components/LabeledRadio/index.module.scss
  src/components/LabeledRadio/index.stories.tsx
  src/components/LabeledRadio/index.tsx
  src/features/prefectureChart/components/SelectableCompositionLabels.module.scss
  src/features/prefectureChart/components/SelectableCompositionLabels.stories.ts
  src/features/prefectureChart/components/SelectableCompositionLabels.tsx
Due: prettier --write, eslint --fix, stylelint --fix

test: テスト作成
  src/components/LabeledCheckbox/index.module.scss
  src/features/prefectureChart/components/CompositionChart.stories.ts
  src/features/prefectureChart/filters/index.test.ts
  src/features/prefectureChart/index.ts
  src/features/prefectureChart/test/mock.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: ディレクトリ分割を見直し
  src/features/compositionChart/api/getCompositionPerYear.ts
  src/features/compositionChart/components/Chart.tsx
  src/features/compositionChart/components/ChartContainer.tsx
  src/features/compositionChart/components/SelectableLabels.tsx
  src/features/compositionChart/components/ui/Chart.stories.ts
  src/features/compositionChart/components/ui/SelectableLabels.module.scss
  src/features/compositionChart/components/ui/SelectableLabels.stories.ts
  src/features/compositionChart/constants/index.ts
  src/features/compositionChart/filters/index.test.ts
  src/features/compositionChart/filters/index.ts
  src/features/compositionChart/hooks/useCompositionPerYear.ts
  src/features/compositionChart/index.ts
  src/features/compositionChart/test/mock.ts
  src/features/compositionChart/types/index.ts
  src/features/prefectureChart/api/index.ts
  src/features/prefectureChart/hooks/index.ts
  src/features/prefectureChart/index.ts
  src/features/prefectures/api/getPrefectures.ts
  src/features/prefectures/constants/index.ts
  src/features/prefectures/hooks/usePrefectureQuery.test.ts
  src/features/prefectures/hooks/usePrefectureQuery.ts
  src/features/prefectures/index.ts
  src/features/prefectures/root/SelectableForm.tsx
  src/features/prefectures/root/SelectableFormContainer.tsx
  src/features/prefectures/root/ui/SelectablePrefectures.module.scss
  src/features/prefectures/root/ui/SelectablePrefectures.stories.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: レスポンシブ対応（グローバルスコープ）
  src/app/globals.scss
  src/app/page.module.scss
  src/app/page.tsx
  src/styles/_variables.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: レスポンシブ対応（CompositionChart）
  src/features/compositionChart/components/Chart.tsx
  src/features/compositionChart/components/SelectableLabels.tsx
  src/features/compositionChart/components/ui/SelectableLabels.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: レスポンシブ対応（SelectableCheckbox）
  src/features/prefectures/components/SelectableCheckbox.tsx
  src/features/prefectures/components/ui/SelectableCheckbox.module.scss
  src/features/prefectures/components/ui/SelectableCheckbox.stories.ts
  src/features/prefectures/index.ts
  src/features/prefectures/root/SelectableFormContainer.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: エラーハンドリング追加
  src/app/error.module.scss
  src/app/error.tsx
  src/app/page.tsx
  src/features/compositionChart/components/ChartContainer.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: github actionのビルドjobでAPIキーを使用できるよう修正
  .github/workflows/pr_jobs.yaml
Due: none

docs: アーキ図とREADME加筆
  README.md
  architecture.drawio
Due: none

test: テスト追加
  src/features/compositionChart/hooks/useCompositionPerYear.test.ts
  src/features/compositionChart/hooks/useCompositionPerYear.ts
  src/features/compositionChart/test/mock.ts
Due: prettier --write, eslint --fix

feat: 選択条件クリアボタン作成
  src/features/compositionChart/components/SelectableLabels.tsx
  src/features/compositionChart/components/ui/SelectableLabels.module.scss
  src/features/compositionChart/components/ui/SelectableLabels.stories.ts
  src/features/prefectures/components/SelectableCheckbox.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: ページタイトル追加
  src/app/page.module.scss
  src/app/page.tsx
  src/features/compositionChart/components/ui/SelectableLabels.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: seoのためのmeta情報追加
  .env.sample
  .github/workflows/pr_jobs.yaml
  src/app/favicon.ico
  src/app/layout.tsx
  src/types/env.d.ts
Due: prettier --write, eslint --fix

feat: 画面レイアウトを大幅に変更
  src/app/globals.scss
  src/app/page.module.scss
  src/app/page.tsx
  src/components/LabeledCheckbox/index.module.scss
  src/components/LabeledRadio/index.module.scss
  src/features/compositionChart/components/SelectableLabels.tsx
  src/features/compositionChart/components/ui/SelectableLabels.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: 都道府県選択を一括サブミットに変更
  src/features/prefectures/components/SelectableCheckbox.tsx
  src/features/prefectures/components/ui/SelectableCheckbox.module.scss
  src/features/prefectures/components/ui/SelectableCheckbox.stories.ts
  src/features/prefectures/hooks/usePrefectureQuery.test.ts
  src/features/prefectures/hooks/usePrefectureQuery.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 都道府県選択ラベルでSubmitボタンが隠れないようz-index調整
  src/features/prefectures/components/ui/SelectableCheckbox.module.scss
Due: stylelint --fix

READMEにデプロイURL記載
  README.md
Due: none
